* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}
html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: black;
}

/*video sfondo*/
#bg-video {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    visibility: visible;
    transition: opacity 0.5s ease;
    opacity: 0.5;
}
#bg-video.fade-out {
    opacity: 0;
}

/*header logo e accedi/profilo*/
.top-section {
    z-index: 3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    font-family: Arial, sans-serif;
}
.site-name {
    z-index: 3;
}
.site-name img{
    z-index: 3;
    max-height: 50px;
    max-width: 200px;
}
.login-button {
    z-index: 3;
    padding: 7px 15px;
    background-color: transparent;
    color: wheat;
    border: 3px solid wheat;
    border-radius: 100px;
    cursor: pointer;
    text-decoration: none;
    font-size: 1rem;
}
.login-button a {
    font-size: 1.2rem;
    color: wheat;
    text-decoration: none;
    padding: 10px;
}
.login-button:hover {
    background-color: transparent;
    opacity: 0.5;
}
.icona-profilo {
    width: 35px;
    height: 35px;
    border: none;
    outline: none;
    background: transparent;
    padding: 0;
    margin: 0;
    display: inline-block;
    vertical-align: middle;
}
.top-section a {
    font-family: 'Quicksand', sans-serif;
    text-decoration: none;
    border: none;
    outline: none;
}
.top-section a img {
    border: none;
    outline: none;
}


/*carosello foto e video*/
.carousel {
    z-index: 2;
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    height: 90vh;
    align-items: center;
    padding: 0 20vw;
    gap: 100%;
}
.carousel::-webkit-scrollbar {
    display: none;
}
.carousel-item {
    z-index: 2;
    overscroll-behavior: none;
    flex: 0 0 auto;
    flex-direction: column;
    scroll-snap-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    cursor: pointer;
    transition: transform 0.5s ease;
    text-decoration: none;
    pointer-events: none;
}
.carousel-item img {
    z-index: 2;
    max-width: 300px;
    max-height: 300px;
    object-fit: contain;
    pointer-events: auto;
}
.carousel-item .caption {
    text-align: center;
    margin-top: 10px;
    color: wheat;
    font-family: 'Quicksand', sans-serif;
    font-size: 25px;
    z-index: 2;
    pointer-events: auto;
}
.carousel-item:hover {
    transform: scale(1.05);
}
.carousel-item.no-hover:hover {
    transform: none;
}

/*scorrimento*/
.nav {
    position: absolute;
    top: 60%;
    height: 100%;
    transform: translateY(-50%);
    background: transparent;
    padding: 25%;
    border: none;
    cursor: pointer;
    z-index: 1;
}
.nav.prev {
    left: 1px;
}
.nav.next {
    right: 1px;
}

@media (max-width: 768px) {
    .top-section {
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }
}
